<p>My main-page works!</p>

<h1>Привіт, {{ userName }}!</h1>
<p>Тобі {{ userAge }} років.</p>




<h2>Ласкаво просимо!</h2>

<button (click)="showMessage()">Дізнатися більше</button>



<h2>Ласкаво просимо, {{ userName }}!</h2>

<button (click)="toggleMessage()">Отримати подарунок</button>

@if (showSecretMessage) {
  <div style="background-color: yellow; padding: 10px; margin-top: 10px;">
    <p>🎉 Твій секретний промокод: <strong>ANGULAR2024</strong></p>
  </div>
}


<div style="background-color: #ffebee; padding: 20px; border-radius: 10px; text-align: center; margin-bottom: 20px;">
  <h3 style="color: #c62828; margin-top: 0;">🔥 До кінця акції залишилось:</h3>
  
  <p style="font-size: 24px; font-weight: bold; margin: 0;">
    {{ days }} днів :
    {{ hours }} год :
    {{ minutes }} хв :
    {{ seconds }} сек
  </p>
</div>