<p>products-page works!</p>


<h2>Наші товари</h2>

<div class="products-grid">
  @for (item of productsList; track item.name) {
    <app-product-card 
  
[name]="item.name" 
      [price]="item.price"
      [imageUrl]="item.imageUrl"
      [quantity]="item.quantity"

 (buyEvent)="onProductBought($event)"
  (buyEvent)="addToCart($event)"
 >  
     </app-product-card>  }   

    <!-- (buyEvent)="onProductBought()"  отримуємо рядко  -->
   <!--  (buyEvent)="onProductBought($event)">  отримуємо рядкові дані 

   <!-- <app-product-card 
  [name]="item.name" 
  [price]="item.price"
  [quantity]="item.quantity"
  (buyEvent)="addToCart($event)"> </app-product-card>   -->
   

</div>