<p>products-page works!</p>


<h2>Наші товари</h2>

<div class="products-grid">
  @for (item of productsList; track item.name) {
    <app-product-card 
  
[name]="item.name" 
      [price]="item.price"
      [imageUrl]="item.imageUrl"
      [quantity]="item.quantity"

 (buyEvent)="onProductBought($event)"
  (buyEvent)="addToCart($event)"
 >  
     </app-product-card>  }   

 
    

    <!-- (buyEvent)="onProductBought()"  отримуємо рядко  -->
   <!--  (buyEvent)="onProductBought($event)">  отримуємо рядкові дані 

   <!-- <app-product-card 
  [name]="item.name" 
  [price]="item.price"
  [quantity]="item.quantity"
  (buyEvent)="addToCart($event)"> </app-product-card>   -->
   

</div>



<!-- 3. Показуємо повідомлення ТІЛЬКИ якщо змінна lastAddedProduct не порожня -->
@if (lastAddedProduct) {
  <p style="color: green;">
    ✅ <strong>{{ lastAddedProduct }}</strong>
  </p>
}

<!-- Іконка кошика -->
<div class="cart-icon-container" (click)="toggleCart()" style="cursor: pointer; text-align: left; padding: 10px;">
  <span style="font-size: 24px;">🛒</span> 
  <strong>Кошик ({{ totalItemsCount }})</strong>
</div>
<!-- Деталі кошика з'являться ТІЛЬКИ якщо isCartVisible дорівнює true -->

@if (isCartVisible) {
<hr>  



<div class="cart-summary">
  <h2>Мій кошик</h2>
  <p>Всього товарів: {{ totalItemsCount}} шт.</p>

  <!-- Починаємо виводити список -->
  <ul>
    @for (product of cart; track $index) {
      <li>
        <strong>{{ product.name }}</strong> — ціна: {{ product.price }} грн — кількість: {{ product.quantity }} шт. —  ціна за товар: {{ product.totalPrice }} грн
   
  <button (click)="testClick(product); removeFromCart(product)">❌ Видалити</button>
      </li>
      
    } @empty {
      <li>Твій кошик поки що порожній. Час щось обрати!</li>
    }
    <strong>Bсього </strong>  : {{ cart.reduce((total, item) => total + item.totalPrice, 0) }} грн
  </ul>
</div>
} 